@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700,900');
* {
    box-sizing: border-box;
}

.cf {
    clear: both;
}

body {
    font-family: 'Vollkorn', sans-serif;
    border-top: 13px solid #3a3a3a;
    margin: 0;
    background-color: #0a0a0a;
    color: rgb(214, 214, 214);
}
section {
    /* display: block;
    height: fit-content; */
    padding-bottom: 50px;
}
hr {
    display: block;
    clear: both;
    border: none;
    border-bottom: 1px solid #666666;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0;
}

header {
    text-align: center;
    font-size: 1.8rem;
    padding: 60px 0 0 0;
}
header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

header h1 {
    font-weight: 900;
    padding: 0;
    margin: 20px 0 -10px 0 ;
    color: #FFFFFF;
    font-size: 1.65em;
    line-height: 0.5;
}

header p {
    line-height: 1.3;
    font-size: 2.13rem;
    padding: 0 75px;
    margin-bottom: 60px;
}

header hr {
    background-color: #3a3a3a00;
    height: 4px;
    border-top: none;
    border-bottom: 3px double #6f6f6f;
    border-left: none;
    border-right: none;
}

a {
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

a:link {
    color: yellow;
}
a:visited {
    color: yellow;
}
a:hover {
    color: grey;
}
a:active {
    color: rgb(66, 33, 33);
}

h2 {
    transform: translateY(20px);
    font-weight: 900;
    color: #FFFFFF;
    font-size: 3em;
    text-align: center;
}

h3 {
    font-weight: 400;
    color: yellow;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.6em;
}

main {
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4px;
    grid-column-gap: 25px;
}

.grid-item {
    background-color:#3a3a3a00;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    min-height: 300px;
    transition: background-color 400ms ease-in-out;
}

.grid-blurb {
    display: block;
    min-height: 100px;
    margin-bottom: 25px
}

.grid-blurb span {
    padding-top: 3px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 0.7em;
    color: #909090;
}

.grid-item:hover {
    background-color:#3a3a3a80;
}

.grid-item:nth-child(1) {
    background-image: url('https://jonchretien.com/img/work_s4a.jpg')
}
.grid-item:nth-child(2) {
    background-image: url('https://jonchretien.com/img/work_midterms.jpg')
}
.grid-item:nth-child(3) {
    background-image: url('https://jonchretien.com/img/work_opinionator.gif')
}
.grid-item:nth-child(7) {
    background-image: url('https://jonchretien.com/img/work_emp.jpg')
}
.grid-item:nth-child(8) {
    background-image: url('https://jonchretien.com/img/work_custard.gif')
}
.grid-item:nth-child(9) {
    background-image: url('https://jonchretien.com/img/work_trickipedia.jpg')
}
.grid-item:nth-child(13) {
    background-image: url('https://jonchretien.com/img/work_hungry_city.gif')
}
.grid-item:nth-child(14) {
    background-image: url('https://jonchretien.com/img/work_carousel.gif')
}
.grid-item:nth-child(15) {
    background-image: url('https://jonchretien.com/img/work_holga_project.jpg')
}

.grid-container-photo {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid-container-photo .grid-item {
    min-height: 400px;
    height: auto;
}

.grid-container-photo .grid-item:nth-child(1) {
    background-image: url('https://jonchretien.com/img/stripes.jpg');
}
.grid-container-photo .grid-item:nth-child(2) {
    background-image: url('https://jonchretien.com/img/camera.jpg');
}
.grid-container-photo .grid-item:nth-child(3) {
    background-image: url('https://jonchretien.com/img/biker.jpg');
    grid-row: span 2;
    grid-column: span 2;
}
.grid-container-photo .grid-item:nth-child(4) {
    background-image: url('https://jonchretien.com/img/ballerina.jpg');
}
.grid-container-photo .grid-item:nth-child(5) {
    background-image: url('https://jonchretien.com/img/warriors.jpg');
}

.grid-container-albums {
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.grid-container-albums .grid-item {
    min-height: 300px;
    height: auto;
}

.grid-container-albums .grid-item:nth-child(1) {
    background-image: url('https://i.scdn.co/image/ed73696e637e57372b1dac5026f8848241c75417');
}
.grid-container-albums .grid-item:nth-child(2) {
    background-image: url('https://i.scdn.co/image/b8fdb9c4467c35499c2a554e7ae68842a15c2f62');
}
.grid-container-albums .grid-item:nth-child(3) {
    background-image: url('https://i.scdn.co/image/659f05e9ce15d0b81ea191937c2c3a3aecec160c');
}
.grid-container-albums .grid-item:nth-child(4) {
    background-image: url('https://i.scdn.co/image/5026fddc6c0b69e931ae99130f15d4214f1e7d41');
}
.grid-container-albums .grid-blurb {
    text-align: center;
    font-size: 1.2em;
}
.grid-container-albums .grid-blurb h3 {
    font-size: 1em;
}

footer {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

nav li {
    list-style: none;
    font-size: 1.25em;
    margin-right: 20px;
}
.footer-container {
    padding: 50px 0;
}
footer div {
    height: auto;
    width: 100%;
    display: flex;
    font-size: 1.25em;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width: 1350px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .grid-container .grid-item {
        max-height: 26vw;
        min-height: 21vw;
    }

}
@media (max-width: 970px) {

    .grid-container-photo .grid-item {
        min-height: 50px;
        height: auto;
    }
    .grid-container-photo {
        height: 120vw;
    }
    .grid-container {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 2fr 0.85fr);
    }

    .grid-container .grid-item {
        max-height: 40vw;
        min-height: 34vw;
        height: 100%;
    }

    .grid-container .grid-item:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .grid-container .grid-item:nth-child(2) {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    .grid-container .grid-blurb:nth-child(4) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .grid-container .grid-blurb:nth-child(5) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .grid-container .grid-item:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .grid-container .grid-item:nth-child(7) {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .grid-container .grid-blurb:nth-child(6) {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .grid-container .grid-blurb:nth-child(10) {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .grid-container .grid-item:nth-child(8) {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .grid-container .grid-item:nth-child(9) {
        grid-row: 5/6;
        grid-column: 2/3;
    }
    .grid-container .grid-blurb:nth-child(11) {
        grid-row: 6/7;
        grid-column: 1/2;
    }
    .grid-container .grid-blurb:nth-child(12) {
        grid-row: 6/7;
        grid-column: 2/3;
    }
    .grid-container .grid-blurb:nth-child(16) {
        grid-row: 8/9;
        grid-column: 1/2;
    }
    .grid-container .grid-blurb:nth-child(17) {
        grid-row: 8/9;
        grid-column: 2/3;
    }
    .grid-container .grid-blurb:nth-child(18) {
        grid-row: 10/11;
        grid-column: 1/2;
    }

}
